{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password!</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="email_div">
        <div class="center-div">
            <h1>Change password:</h1>
        </div>
        <form action="change_password" method="post">
            {% csrf_token %}
            <div class="center-div margin-vertical-20">
                {{ form.password }}
            </div>
            <div class="center-div margin-vertical-20">
                {{ form.repeat_password }}
            </div>
            <div class="center-div">
                <button class="change_password_button">
                    Sent
                </button>
            </div>
        </form>
    </div>
</body>
</html>